.container {
    width: 1366px;
    margin: 0 auto;
}
h1 {
    margin-left: 124px;
}
.parent {
    width: 1174px;
    margin: 48px auto;
    justify-content: space-between;
}
.block {
    width: 450px;
    height: 560px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    background-color: blueviolet;
    text-align: center;
    padding-top: 6px;
}
.img {
    width: 320px;
}